form.search {
  overflow: auto;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

input {
  margin-bottom: 5px;
}

form.search button[type="submit"] {
  text-align: center;
  margin-top: 10px;
}